@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --tertiary-bg-color: #2f303a;
  --secondary-link-color: gba(255, 255, 255, 0.6);
  --secondary-logo-color: #000000;
  --box-color-gray: #eeeeee;
  --box-color-portfolio: #ececec;
  --primary-icon-color: #afb1b8;
}

.subscription__button, .social__links, .btn-list-item, .doing-bottom-text, .modal-button, .check-text span, .check-text, .modal-close-icon, .team__social-links, .hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.page {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo__span--color-light {
  color: var(--primary-white-color);
}

.logo__span--color-dark {
  color: var(--secondary-logo-color);
}

.title {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .title {
    text-align: center;
  }
}

.subtitle {
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
  max-width: 270;
}

.hero-btn {
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__social-item {
  width: 44px;
  height: 44px;
}

.team__social-links {
  width: 100%;
  height: 100%;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--primary-icon-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-links:hover, .team__social-links:focus {
  background-color: var(--accent-color);
}

.team__social-icon {
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-links:hover .team__social-icon, .team__social-links:focus .team__social-icon {
  fill: var(--primary-white-color);
  color: var(--primary-white-color);
}

.modal-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrap {
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 39px 40px 41px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .modal-wrap {
    width: 100%;
    min-height: 601px;
    overflow: scroll;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-wrap {
    width: 450px;
    min-height: 601px;
    overflow: scroll;
  }
}
.modal-backdrop.is-hidden .modal-wrap {
  -webkit-transform: translate(-50%, -50%) scale(0) rotate(360deg);
          transform: translate(-50%, -50%) scale(0) rotate(360deg);
}

.modal-close-icon {
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover, .modal-close-icon:focus {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-input-svg {
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-svg {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  padding-right: 16px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--accent-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  display: block;
  margin-bottom: 10px;
}

.modal-label-span {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea::-moz-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea::-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .check-text {
    font-size: 10px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .check-text {
    font-size: 12px;
    line-height: 1.16;
  }
}

.privacy-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .privacy-link {
    display: block;
    font-size: 10px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .privacy-link {
    font-size: 12px;
    line-height: 1.16;
  }
}

.modal-textarea-margin {
  margin-bottom: 20px;
}

.check-text span {
  width: 16px;
  height: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: transparent;
  border: 2px solid var(--secondary-text-color);
  border-radius: 3px;
  margin-right: 8px;
  margin-left: 13px;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: transparent;
  fill: var(--primary-white-color);
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .check-text span {
    margin-left: 0;
    margin-right: 10px;
  }
}

.modal-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
  border: none;
  margin: 30px auto 0 auto;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--box-color-portfolio);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile__menu {
    padding: 48px 40px;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-white-color);
    position: fixed;
    top: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: auto;
  }
  .mobile__menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile__menu {
    display: none;
  }
}

.menu-open, .menu-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 10px 0 10px 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-open, .menu-close {
    display: none;
  }
}
.menu-open:hover, .menu-open:focus, .menu-close:hover, .menu-close:focus {
  fill: var(--accent-color);
}

.menu-close {
  position: absolute;
  top: 14px;
  right: 22px;
}

.menu-button.is-open .icon-close {
  display: block;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__navigation {
    margin-right: 96px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .menu__link {
    font-size: 30px;
    line-height: 1.17;
    margin-bottom: 32px;
    padding: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .menu__link {
    font-size: 40px;
    line-height: 1.17;
    margin-bottom: 32px;
    padding: 0;
  }
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-left: auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .contacts__link--phone {
    color: var(--accent-color);
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .contacts__link--phone {
    color: var(--accent-color);
    font-size: 34px;
    line-height: 1.17;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .contacts__link--email {
    font-size: 18px;
    line-height: 1.17;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .contacts__link--email {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 32px;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .address-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
}

.address-soсial-link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .address-soсial-link {
    font-size: 12px;
    display: block;
  }
  .address-soсial-link.inst::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    position: absolute;
    left: 66px;
    top: -3px;
  }
  .address-soсial-link.twit::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    position: absolute;
    left: 49px;
    top: -3px;
  }
  .address-soсial-link.face::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    position: absolute;
    left: 64px;
    top: -3px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .address-soсial-link.inst::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    position: absolute;
    left: 94px;
    top: 0;
  }
  .address-soсial-link.twit::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    position: absolute;
    left: 68px;
    top: 0;
  }
  .address-soсial-link.face::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    position: absolute;
    left: 92px;
    top: 0;
  }
}

.address-social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__bottom {
    margin-bottom: 10px;
  }
}

.contacts__icon {
  fill: currentColor;
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: currentColor;
}

.menu__link.current {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .current::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0;
    border-radius: 2px;
  }
}

.menu__item {
  position: relative;
}

.overlay {
  background-color: var(--tertiary-bg-color);
  max-width: 1600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 320px) {
  .overlay {
    height: 400px;
    padding-top: 118px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    height: 600px;
    padding-top: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-img-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img-2x.jpg);
  }
}

.hero-title {
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 320px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}

.section-bottom {
  padding-bottom: 0;
}

.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .benefits-list {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 480px) {
  .benefits-list {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-list {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    width: 1170px;
  }
}

.icons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.container-title {
  margin-bottom: 10px;
}

.benefits-item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 320px) {
  .benefits-item {
    max-width: 290px;
  }
}
@media screen and (min-width: 480px) {
  .benefits-item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-item {
    width: 270px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .negative-padding {
    padding-top: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .hide-title {
    display: none;
  }
}

.section-title {
  color: var(--secondary-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
  }
}

.doing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .doing-list {
    display: none;
  }
}

.doing-img-wrap {
  position: relative;
}

.doing-bottom-text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.team {
  background-color: var(--secondary-bg-color);
}

.team__title {
  color: var(--secondary-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .team__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  width: 1170px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 450px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 738px;
  }
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .team__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: 354px;
  }
}

.team__name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__paragraph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.clients-title {
  color: var(--secondary-text-color);
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .clients-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients-item {
  height: 92px;
  gap: 30px;
}
@media screen and (min-width: 320px) {
  .clients-item {
    width: calc((100% - 60px) / 1);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 480px) {
  .clients-item {
    width: calc((100% - 60px) / 2);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-item {
    width: calc((100% - 90px) / 3);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 180px) / 6);
  }
}

.clients-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  color: var(--primary-icon-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .clients-link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients-icon {
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: currentColor;
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

.btn-list-item {
  color: var(--secondary-text-color);
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-list-item:hover, .btn-list-item:focus {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-all {
  padding: 6px 25px;
}

.container-btn {
  padding: 6px 22px;
}

.card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-link:hover, .card-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-list {
  gap: 30px;
}
@media screen and (min-width: 320px) {
  .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 480px) {
  .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 450px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 738px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media screen and (min-width: 1200px) {
  .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1170px;
  }
}

.card-item {
  width: 370px;
  background-color: var(--primary-white-color);
  border: 1px solid var(--box-color-portfolio);
}
@media screen and (min-width: 320px) {
  .card-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 450px;
  }
}
@media screen and (min-width: 480px) {
  .card-item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .card-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card-item {
    width: 370px;
  }
}

.card-top-wrap {
  position: relative;
  overflow: hidden;
}

.card-top-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-link:hover .card-top-text, .card-link:focus .card-top-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-title-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.project-title {
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.project-name {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--tertiary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .footer__wrap {
    display: block;
  }
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .footer__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.address {
  font-style: normal;
}

.footer__address {
  margin-top: 20px;
}

.address-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .address-wrap {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__item {
  margin-top: 9px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .address__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.address__link--map {
  color: var(--primary-white-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.social__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .social__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__links {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--primary-white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__links:hover, .social__links:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__links:hover .social__icon, .social__links:focus .social__icon {
  fill: var(--primary-white-color);
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscription__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .subscription__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 60px;
  }
}

.subscription__input {
  width: 358px;
  margin-right: 10px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--primary-white-color);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .subscription__input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .subscription__input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription__input {
    width: 450px;
    margin-bottom: 20px;
  }
}

.subscription__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  padding: 10px 28px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .subscription__button {
    margin-left: auto;
    margin-right: auto;
  }
}

.subscription__svg {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */