:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --tertiary-bg-color: #2f303a;
    --secondary-link-color: gba(255, 255, 255, 0.6);
    --secondary-logo-color: #000000;
    --box-color-gray: #eeeeee;
    --box-color-portfolio: #ececec;
    --primary-icon-color: #afb1b8;
}