.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--box-color-portfolio);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
        @media screen and (min-width:768px) and (max-width: 1199px) {
            justify-content: start;
        }
}

.mobile__menu {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        padding: 48px 40px;
        width: 100vw;
        height: 100vh;
        background-color: var(--primary-white-color);
        position: fixed;
        top: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    
        &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
    }
        @media screen and (min-width: 768px) {
            display: none;
        }
}


.menu-open, .menu-close {
    display: inline-flex;
    margin: 10px 0 10px 0;
    padding: 0;
    border: none;
    background-color: transparent;
    @media screen and (min-width: 768px) {
            display: none;
        }
        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
}

.menu-close {
    position: absolute;
    top: 14px;
    right: 22px;
}

.menu-button.is-open .icon-close {
    display: block;
}

.header__navigation {
    display: flex;
        align-items: center;
    @media screen and (min-width: 320px) and (max-width: 767px)  {
                display: none;
        }
    }

.header__logo {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 88px;
    }
    @media screen and (min-width: 1200px) {
            margin-right: 93px;
        }
    
}

.header__menu {
    @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            gap: 50px;
        }
}

.menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 320px) and (max-width: 479px) {
            font-size: 30px;
            line-height: 1.17;
            margin-bottom: 32px;
            padding: 0;
        }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        font-size: 40px;
        line-height: 1.17;
        margin-bottom: 32px;
        padding: 0;
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    } 
}

.header__contacts {
    display: flex;
        gap: 30px;
        margin-left: auto;
    @media screen and (min-width: 320px) and (max-width: 767px) {
            display: none;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: block;
            align-items: center;
        }
}

.contacts__link {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--primary-text-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &--phone {
            @media screen and (min-width: 320px) and (max-width: 479px) {
                color: var(--accent-color);
                font-size: 24px;
                line-height: 1.17;
                margin-bottom: 32px;
            }
            @media screen and (min-width: 480px) and (max-width: 767px) {
            color: var(--accent-color);
            font-size: 34px;
            line-height: 1.17;
            margin-bottom: 32px;
            }
            }
            &--email {
            @media screen and (min-width: 320px) and (max-width: 479px) {
                    font-size: 18px;
                    line-height: 1.17;
                    margin-bottom: 32px;
                    }
            @media screen and (min-width: 480px) and (max-width: 767px) {
                    font-size: 24px;
                    line-height: 1.17;
                    margin-bottom: 32px;
            }
            }
            
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
        }

.address-social-list {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        display: flex;
        gap: 20px;
    }
}

.address-soсial-link {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    @media screen and (min-width: 320px) and (max-width: 479px) {
        font-size: 12px;
        display: block;
        &.inst::after {
                display: flex;
                content: "";
                width: 1px;
                height: 22px;
                background-color: rgba(33, 33, 33, 0.2);
                position: absolute;
                left: 66px;
                top: -3px;
            }
        
            &.twit::after {
                display: flex;
                content: "";
                width: 1px;
                height: 22px;
                background-color: rgba(33, 33, 33, 0.2);
                position: absolute;
                left: 49px;
                top: -3px;
            }
        
            &.face::after {
                display: flex;
                content: "";
                width: 1px;
                height: 22px;
                background-color: rgba(33, 33, 33, 0.2);
                position: absolute;
                left: 64px;
                top: -3px;
            }
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        &.inst::after {
                display: flex;
                content: "";
                width: 1px;
                height: 22px;
                background-color: rgba(33, 33, 33, 0.2);
                position: absolute;
                left: 94px;
                top: 0;
            }
        
            &.twit::after {
                display: flex;
                content: "";
                width: 1px;
                height: 22px;
                background-color: rgba(33, 33, 33, 0.2);
                position: absolute;
                left: 68px;
                top: 0;
            }
        
            &.face::after {
                display: flex;
                content: "";
                width: 1px;
                height: 22px;
                background-color: rgba(33, 33, 33, 0.2);
                position: absolute;
                left: 92px;
                top: 0;
            }
    }
}
.address-social-item {
    display: flex;
    gap: 20px;
    position: relative;
@media screen and (min-width: 320px) and (max-width: 479px) {

}

}



.contacts__bottom {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 10px;
    }
}

.contacts__icon {
    fill: currentColor;

    .contacts__link:hover &,
    .contacts__link:focus & {
        fill: currentColor;
    }
}

.menu__link.current {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
@media screen and (min-width: 768px) {
    &::after {
            display: flex;
            content: "";
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            position: absolute;
            bottom: 0;
            border-radius: 2px;
            }
    }
}

.menu__item {
    position: relative;
}



